@media (min-width: 700px) and (max-width: 1024px) {
    #logo {
        font-size: 8em;
    }
    #content-2 {
        width: 40%;
    }
    #inner-content-1 h2 {
        font-size: 0.75em;
    }
    .text,
    .skills {
        font-size: 0.75em;
    }
    #list-head,
    #box-head {
        font-size: 0.75em;
    }
    #box-text {
        width: 30%;
    }
    #content-3 {
        top: 50px;
    }
}

@media (min-width: 350px) and (max-width: 699px) {
    #logo {
        font-size: 4em;
    }
    #content-2 {
        width: 50%;
    }
    #inner-content-1 h2 {
        font-size: 0.5em;
    }
    .text,
    .skills {
        font-size: 0.7em;
    }
    #list-head,
    #box-head {
        font-size: 0.5em;
    }
    #box-text {
        font-size: 0.65em;
        width: 120px;
    }
    #slide-2 {
        background-image: url('../img/Adaptive_me-4.jpg');
    }
    #skill-list {
        padding-left: 15px;
    }
    #socials-header {
        font-size: 25px;
    }
    #content-3 {
        top: 50px;
    }
    #socials-list {
        flex-direction: column;
        padding-right: 40px;
    }
}