#slide-2 {
    background-image: url('../img/IMG_7561.JPG');
    overflow: hidden;
    font-family: 'Lato';
    color: #8f1717;
}

#content-2,
#left-side-text {
    animation-duration: 3s;
}

#inner-content-1 {
    display: block;
    text-align: left;
    font-size: 30px;
}

#inner-content-2 {
    font-size: 30px;
}

#box-text {
    margin-top: 5%;
    margin-left: 10%;
    width: 304px;
    word-wrap: normal;
    border: 3px solid rgba(34, 184, 50, 0.7);
    background-color: rgba(34, 184, 50, 0.7);
    border-radius: 10px;
    box-shadow: 0px 0px 24px 0px rgba(50, 50, 50, 1);
}

#skill4 {
    animation-delay: 6s;
}

#skill5 {
    animation-delay: 7s;
}

#skill6 {
    animation-delay: 8s;
}

#skill7 {
    animation-delay: 9s;
}