html {
    height: 100%;
}

body {
    margin: 0;
    height: inherit;
    background: #000;
    scroll-behavior: smooth;
}

@font-face {
    src: url('../fonts/Gotham/14078.ttf');
    font-family: 'Gotham';
}

@font-face {
    src: url('../fonts/lato/9622.ttf');
    font-family: 'Lato';
}

@font-face {
    src: url('../fonts/lato/Lato-Medium.ttf');
    font-family: 'Lato-Medium';
}

@font-face {
    src: url('../fonts/icofont/fonts/icofont.ttf');
    font-family: 'Icofont';
}

@font-face {
    src: url('../fonts/font-awesome-4.7.0/fonts/fontawesome-webfont.ttf');
    font-family: 'Fontawesome';
}


/* aside {
    position: fixed;
    display: flex;
    color: white;
    z-index: 9999;
}

.right {
    right: 6%;
    height: 100%;
    align-items: center;
}

.right nav ul,
.left nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.right ul li {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-top: 5px;
    transition: .5s ease;
} */

.slide {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center center;
    position: relative;
    display: inline-block;
}

#slide-1 {
    background-image: url("https://i.gifer.com/h1I.gif");
    position: relative;
    color: red;
}

#slide-1::before {
    content: 'Листайте вниз ˅';
    position: absolute;
    bottom: 5%;
    left: 50%;
    margin-left: -60px;
    color: #fff;
    text-align: center;
    width: 120px;
    font: normal 15px 'Gotham';
}

#slide-1::after {
    content: 'Листайте вниз ˅';
    position: absolute;
    bottom: 5%;
    left: 50%;
    margin-left: -60px;
    color: #fff;
    text-align: center;
    width: 120px;
    font: normal 15px 'Gotham';
}

#content-1 {
    display: none;
    position: relative;
    width: 100%;
    top: 27%;
}

#introduction {
    position: relative;
    text-align: center;
    width: 100%;
}

#logo {
    display: inline-block;
    vertical-align: top;
    line-height: 27px;
    height: 27px;
    margin-left: 10px;
    font-size: 250px;
    font-weight: bolder;
    font-family: 'Gotham', sans-serif;
    position: relative;
}

.hidden {
    opacity: 0;
}

.visible {
    opacity: 1;
}

a {
    text-decoration: none;
}