#slide-3 {
    width: 100%;
    height: inherit;
    display: inline-block;
    color: #2131d2;
    position: static;
    height: inherit;
    background-image: url('../img/code.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

#facebook::before {
    content: "\f082";
    /* добавляем иконку дом */
    font-family: FontAwesome;
    color: #2131d2;
    margin-right: 10px;
    font-size: 90px;
}

#linkedin::before {
    content: "\f08c";
    /* добавляем иконку дом */
    font-family: FontAwesome;
    color: #2131d2;
    margin-right: 10px;
    font-size: 90px;
}

#github::before {
    content: "\f09b";
    font-family: FontAwesome;
    color: #2131d2;
    margin-right: 10px;
    font-size: 90px;
}

#socials-list {
    width: 45%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-around;
}

#content-3 {
    position: relative;
    display: inline;
    text-align: center;
    top: 150px;
}

#socials-header {
    font-size: 45px;
}